<%= form_with url: @candidateVote do |form| %>
  <% if @candidateVote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidateVote.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @candidateVote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="ui table">
    <tr>
      <th>
        Candidate Name
      </th>
      <th>
        Party
      </th>
      <th>
        Vote
      </th>
    </tr>
    <tbody>
    <% @candidate.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.party %></td>
        <td class="right aligned">
          <div class="ui left aligned">
            <%= select :parties, :rating, ['1','2','3','4','5','6','7','8', '9','10', '11', '12'] %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit class: "ui primary button" %>
  </div>

<% end %>