<%= form_with(model: candidate, html: { class: "ui form" }) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field" >
    <%= form.label :party %>
    <%= form.text_field :party, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.text_area :birthday %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", :action => :create, class: "ui primary button" %>
  </div>
<% end %>
