<%= form_with url: "/addCandidate" do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field" >
    <%= form.label :party %>
    <%= form.text_field :party, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="actions">
    <%= form.submit class: "ui primary button" %>
  </div>
<% end %>
