
<table class="ui table">
  <tr>
    <th>
      Party Name
    </th>
    <th>
      Vote
    </th>
  </tr>
  <tbody>
  <% @parties.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td>
        <%= form_for :vote, url: '/public/candidates_controller/aboveLineVote/' do |form| %>
          <%= form.select :votes, %w[1 2 3 4 5 6], :include_blank => true, required:true %>
          <%= form.hidden_field :id, value: part.id %>
          <%= form.submit class: "ui primary button" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <%= link_to :below_line, class: "ui button" do %>
    Below Line
  <% end %>
</table>