<h1 class="ui header">
  Voting Above The Line
</h1>

<%= render 'votingForm', party: @party %>

<table class="ui table">
  <tbody>
  <% @party.each do |parties| %>
    <tr>
      <td><%= parties.name %></td>
      <% @vote_number.each do |votes| %>
        <div class="field">
          <div class="ui checkbox">
            <%= check_box_tag "Votes[#{votes}]" %>
            <label><%= votes %></label>
          </div>
        </div>
      <% end %>
    </tr>
  <% end %>
  </table>

<div class="ui basic buttons">
  <%= link_to 'Back', 'javascript:history.go(-1);' %><
  <i class="chevron left icon"></i>

</div>
