<h1 class="ui header">
  Australian Federal Election
</h1>

<%= link_to new_candidates_path, class: "ui primary right floated button" do %>
  <i class="add icon"></i> New Candidate
<% end %>
<br>
<br>

<table class="ui table">
  <thead>
  <tr>
    <th>
      Candidate Name
    </th>
    <th>
      Party
    </th>
    <th>
      Birthday
    </th>
    <th>
      Votes
    </th>
    <th>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @candidates.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.party %></td>
      <td><%= c.birthday %></td>
      <td><%= c.votes %></td>
      <td class="right aligned">
        <div class="ui small basic buttons">
          <%= link_to candidates_path, c, class: "ui button"%>
          <%= link_to 'Destroy', c, method: :destroy, data: { confirm: 'Are you sure?' }, class: "ui button"%>

        </div>
      </td>
    </tr>

  <% end %>
  </tbody>

</table>

<br>

</table>
<table class="ui table">
  <thead>
  <tr>
    <th>
      Party Name
    </th>
    <th>
      Votes
    </th>
    <th>
    </th>
  </tr>
  </thead>
  <tbody>

  <% @party.each do |party| %>
    <tr>
      <td><%= party.name %></td>
      <td><%= party.votes %></td>
      <td class="right aligned">
        <div class="ui small basic buttons">
          <%= link_to party, class: "ui button" do %>
            Show details
          <% end %>
          <%= link_to party, method: :destroy, data: { confirm: 'Are you sure?' }, class: "ui button" do %>
            Remove party
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>

