<h1 class="ui header">
  Register as candidate
</h1>
<%= form_with( model: @candidate ) do |form| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @candidate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true,autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :party %>
    <%= form.text_field :party, required: true, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <%= form.hidden_field :votes, value: 0 %>


  <div class="actions">
    <%= form.submit class: "ui primary button" %>
  </div>
<% end %>


<%= link_to admin_path, class: "ui basic button" do %>
  Back
<% end %>
