<h1 class="ui header">
  Australian Federal Election
</h1>

<table class="ui table">
  <tr>
    <th>
      Candidate Name
    </th>
    <th>
      Party
    </th>
  </tr>
  <tbody>
  <% @candidate.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.birthday %></td>
    </tr>
  <% end %>
  </table>

<br>

<div> How would you like to vote?</div>
<div class="ui basic buttons">
  <%= link_to :above_line, class: "ui button" do %>
    Above Line
  <% end %>
</div>

<div class="ui basic buttons">
  <%= link_to :below_line, class: "ui button" do %>
    Below Line
  <% end %>
</div>