<h1 class="ui header">
  Australian Federal Election
</h1>

<%= link_to :addCandidate, class: "ui primary right floated button" do %>
  <i class="add icon"></i> New Candidate
<% end %>

<table class="ui table">
  <tr>
    <th>
      Candidate Name
    </th>
    <th>
      Party
    </th>
  </tr>
  <tbody>
  <% @candidate.each do |candidates| %>
    <tr>
      <td><%= candidates.name %></td>
      <td><%= candidates.party %></td>
      <td><%= candidates.birthday %></td>
    </tr>
  <% end %>
  </table>

<br>v

<div> How would you like to vote?</div>
<div class="ui basic buttons">
  <%= link_to :above_line, class: "ui button" do %>
    Above line
  <% end %>
</div>

<div class="ui basic buttons">
  <%= link_to :below_line, class: "ui button" do %>
    <below line
  <% end %>
</div>